body{
    background-color: rgb(25, 24, 24);
}

img{
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 25%
}

div.iframe{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 0 0 25%;
    top: 50%;
    left: 50%;
    margin: auto;
}

div.io-icon{
    width: 25px;
    height: 25px;
    display: flex;
    margin: auto;
    padding: 0 0 0 25%;
}